/* styles.css */
*{
  height:auto;
}
body {
    background-color: rgb(199, 141, 182);
  }
.header{

  display:flex;
  justify-content:space-between;
  padding: 10px 25px;
  align-items: center;
  position: relative;
  background-color: rgb(182, 112, 161);
}
h1{
  font-size: 40px;
}
nav{
  display:flex;
  margin-right: 30px;
  gap:35px;
}
button{
  width:150px;
  height:60px;
  border-radius: 8px;
  border:none;
  background-color:beige;
}

.page-content {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
  padding: 20px;
  flex-wrap: wrap;
  
}

.page-content img {
  width: 600px;
  height: auto; 
  border-radius:12px ;
  border:2px solid black; 
}

.page-content p {
  flex: 1; 
  font-size: 20px;
  line-height: 1.5;
}
.footer{
  
  height:30px;
  width:auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  display:flex;
  position:relative;
}

h3{
  font-size: 30px;
  display:flex;
  margin-left:400px;
}
form{
  background-color: rgb(182, 112, 161);
  width:600px;
  height:400px;
  display:grid;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  border-radius: 15px;
  border: 2px solid black;
}
form input{
  width:280px;
  height:30px;
}

form button{
  height:40px;
  background-color: green;
  margin-left: 80px;;
}

h2{
  display:flex;
  align-items: center;
  justify-content:center;
  height:60px;
  font-size: 30px;
}
.menu-item{
  display:inline-block;
  position:relative;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center
}
.menu-item img{
  border-radius:12px;
  display:flex;
  margin-left:300px;
  border:2px solid black;
}

.menu-item p{
  position:absolute;
  bottom: 50px; /* Adjust to move text up or down */
  margin-left: 600px;
  transform: translateX(-50%); 
  background: rgba(0, 0, 0, 0.6);
  color: beige; 
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  width: 300px;
}

  